.message-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
